@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  flex: 1 1 0;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.left-links {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.separator {
  margin: 0 auto;
}

.right-links {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.footer {
  margin: auto 0 0 0;
  background-color: #eeeeee;
}

.footer a {
  color: #333333;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}
